<div class="l-container">
  <h2>Ik <strong>wordt</strong> bestaat niet.</h2>
</div>

<div class="l-container">
  <div class="l-small user">
    <% @tweets.each do |tweet| %>

      <div class="tweet">
          <figure class="user--avatar" style="background-image: url('<%= tweet.user.profile_image_url %>');"></figure>
          <div class="user--name"><strong>@<%= tweet.user.screen_name %></strong></div>

          <div class="tweet--content"><p><%= tweet.text %></p></div>
      </div>

    <% end %>
  </div>
</div>