.user--avatar {
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.user--name {
    padding-top: 0.7em;
}